a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

td > input {
    width: 100%;
}

.wrapper {
    width: 100%;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#uploadForm > label {
    margin-bottom: 10px;
}


#writerFormBnt {
    position: relative;
    left: 33.4%;
    margin-bottom: 10px;
}

#detailBtn {
    width: 70%;
    display: flex;
    justify-content: start;
    margin: 10px 0 0 0;

}

#detailBtn > button {
    margin-right: 5px;

}

#modifyBtn {
    width: 5%;
    margin: 10px 0 0 0;

}

#writerBnt {
    width: 5%;
    margin: 10px 0 0 0;
}

#cmtWriterForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px 0 50px 0;
}

#cmtWriterBox {
    display: flex;
    height: 100px;
}

#cmtWriter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 10%;
}

#cmtWrapper{
    width: 70%;
}

.box {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
#cmtContent{
    width: 90%;
}
#cmtWriterBtn{
    width: 10%;
}